$color-primary: rgba(176, 1514, 106, 1); /* #B0976A */
$color-primary-hover: rgba(153, 126, 77, 1); /* #997E4D */

$color-secondary: rgba(191, 191, 191, 1); /* #BFBFBF */
$color-secondary-hover: rgba(245, 245, 245, 1); /* #F5F5F5 */